:root {
  --bg-color: #4E5283;
  --text-color: white;
  --accent-text: #e0dbf5;
}


body {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--accent-text);
}

table,
th,
td {
  padding: 0.5em;
  text-align: center;
  border: 2px solid var(--accent-text);
  border-collapse: collapse;
}

figure {
  margin: 1em auto;
  padding: 0em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.rowlabel {
  text-align: right;
}